<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Set Papers</title>
    <meta name='viewport'
        content='width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no' />
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="" rel="stylesheet">
</head>

<body>
    <div class="head">
        Make your test paper here...
    </div>
    <!-- https://docs.google.com/forms/d/e/1FAIpQLSe9hPSOilqaqaBmxy7SRO2grB03918lcoEm7OeUipJ0nM6VMw/viewform?usp=sf_link
    https://forms.gle/rjDYTN1creGnY3EQ9 -->
    <!-- <iframe
        src="https://docs.google.com/forms/d/e/1FAIpQLSe9hPSOilqaqaBmxy7SRO2grB03918lcoEm7OeUipJ0nM6VMw/viewform?embedded=true"
        width="640" height="494" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    <p></p> -->
    <form id="paper">
        <input class="textbox" type="text" placeholder="Subject Code">
        <input class="textbox" type="text" placeholder="Semester">
    </form>
</body>

</html>